{% extends 'base.html' %}


{% block title %}
    Main page calculator
{% endblock %}


{% block content %}
    <head>
        <link href="{{ static('css/calculator.css') }}" rel="stylesheet">
    </head>

    <br><br>

    <div class="container">
        <div id="calculator">
            <div class="row">
                <input class="screen" type="text" v-model="valueDisplayed" readonly>
            </div>

            <div class="row">

                <div class="calculator">
                        <div class="btn  btn-primary b" @click="clear">C</div>
                        <div class="btn  btn-primary b" @click="handleOp('*')">*</div>
                        <div class="btn  btn-primary b" @click="handleOp('/')">/</div>
                        <div class="btn  btn-primary b" @click="handleOp('-')">-</div>
        
                        <div class="btn btn-primary" @click="handleDigit(7)">7</div>
                        <div class="btn btn-primary" @click="handleDigit(8)">8</div>
                        <div class="btn btn-primary" @click="handleDigit(9)">9</div>
        
        
                        <div class="btn btn-primary" @click="handleDigit(4)">4</div>
                        <div class="btn btn-primary" @click="handleDigit(5)">5</div>
                        <div class="btn btn-primary"  @click="handleDigit(6)">6</div>
                        <div class="btn plus b btn-primary" @click="handleOp('+')">+</div>
        
                        <div class="btn btn-primary" @click="handleDigit(1)">1</div>
                        <div class="btn btn-primary" @click="handleDigit(2)">2</div>
                        <div class="btn btn-primary" @click="handleDigit(3)">3</div>
        
                        <div class="btn zero btn-primary" @click="handleDigit(0)">0</div>
                        <!-- <div class="btn" @click="handleDigit('.')">.</div> -->
                        <div class="btn enter btn-primary b" @click="handleOp('=')">=</div>
                </div>

            </div>
            

    </div>
    </div>

    <script src="{{ static('js/calculator.js') }}"></script>
    </div>
{% endblock %}
