{% extends 'base.html' %}


{% block title %}
    Main page calculator
{% endblock %}

    
{% block head %}
<nav class="navbar navbar-expand-md navbar-default bg-light">
    <div class="navbar-header">
         <a class="navbar-brand">Calculator</a>
    </div>

          <ul class="navbar-nav  mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Main page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feedback">Feedback</a>
            </li>
          </ul>

          <ul class="navbar-nav navbar-right ">
                {% if not user %}
                    <li><a href="/login">Login</a></li>
                {% endif %}

                {% if user %}
                    <form class="form-inline">
                        <li class="nav-item">User: {{ user }}</li>&nbsp;
                        <li class="nav-item">
                            <a href="/logout" class=>Logout</a>
                        </li>
                    </form>
                {% endif %}
          </ul>
             
</nav>
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <h2>Index</h2>
    <div id="app" >
        <h3>[[ message ]]</h3>
    </div>


<div class="container">
    <div class="row pt-3">
            <button class="btn-lg btn-primary custom">C</button>
            <button class="btn-lg btn-primary custom">/</button>
            <button class="btn-lg btn-primary custom">*</button>
            <button class="btn-lg btn-primary custom">-</button>
    </div>

    <div class="row">
        <button class="btn-lg btn-primary custom">7</button>
        <button class="btn-lg btn-primary custom">8</button>
        <button class="btn-lg btn-primary custom">9</button>
    </div>

    <div class="row">
        <button class="btn-lg btn-primary custom">4</button>
        <button class="btn-lg btn-primary custom">5</button>
        <button class="btn-lg btn-primary custom">6</button>
        <button class="btn-lg btn-primary customE ">+</button>
    </div>

    <div class="row">
        <button class="btn-lg btn-primary custom">1</button>
        <button class="btn-lg btn-primary custom">2</button>
        <button class="btn-lg btn-primary custom">3</button>
    </div>

    <div class="row">
        <button class="btn-lg btn-primary custom0">0</button>
        <button class="btn-lg btn-primary custom">.</button>
        <button class="btn-lg btn-primary customE">Enter</button>
    </div>
</div>



<script src="{{ static('js/index.js') }}"></script>
</div>
<style>
    .custom {
    width: 60px;
    height: 65px;
}
.custom0 {
    width: 120px;
    height: 65px;
    
}
.customE {
    width: 60px;
    height: 130px;
    font-size: 100%;
    padding-top:10px;
    margin-top: -65px
    

}

</style>
{% endblock %}


