{% extends 'base.html' %}

{% block title %}
    shop
{% endblock %}

{% block content %}

<div class="container" id="shop">
    <div style="box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.095); background-color: #fff;">
        <div class="row pt-3">
            <div class="col-4">
                <div class="row pt-1">
                    <div class="col">
                        <h2><b>Info</b></h2>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <h4>Name: [[ user.login ]]</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Balance: [[ user.balance ]]$</h4>
                    </div>
                </div>

                <form action="/shop" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                    <div class="row pt-3">
                        <div class="col">
                            <input class="form-control" id="amount" name="amount" type="number" value="0" autofocus step="0.01">                    
                        </div>
                        <div class="col">
                            <button class="btn btn-success btn-block">Add money</button>
                        </div>   
                    </div> 
                </form>               
            </div>
            <div class="col-8 border-left">
                <div class="row pt-1">
                    <div class="col">
                        <h2><b>My orders</b></h2>
                    </div>
                </div>
                <div class="row pt-2" style="overflow-x: scroll; height: 150px; width: 730px;" >
                    <my-orders v-for="order in user.orders" :order="order"></my-orders>
                </div>
            </div>
        </div>

        <div class="row pt-1 py-4">
            <div class="col-4">
                <form action="delete_orders" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <button class="btn btn-outline-danger btn-block">Delete money (don`t work)</button>
                </form>
            </div>
            <div class="col-8">
                <form action="delete_orders" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <button class="btn btn-outline-danger btn-block">Delete orders</button>
                </form>
            </div>       
        </div>
    </div>

    <div class="row pt-5 justify-content-between">
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <h1>Shop</h1>
                </div>              
            </div>
            <div class="row pt-5">
                <item v-for="item in items" :item="item" :key="item.id" @add_item_in_basket="add_item_in_basket_sos"></item>            
            </div>
        </div>


        <div class="col-3">
            <div class="row">
                <h1>Cart</h1>
            </div>

            <div class="row pt-5" v-if="login">
                <basket :items_in_basket="items_in_basket" :all_sum="all_sum"></basket>
            </div>
            <div class="row pt-5" v-if="!login">
                <h1>Please login</h1>
            </div>
        </div>
    </div>
</div>


<template id="item-template">
    <div class="col-4">
        <div class="row">
            <img :src="url" width="100" height="111">
        </div>
        <div class="row">
            <div class="col-4">
                <h4>[[ item.name ]]</h4>
            </div>
            <div class="col-4">
                <button class="btn btn-primary" @click="click_on_buy" v-show="in_basket_buttom" style="font-size: 15px">[[ item.cost ]]$</button>
                <div class="row justify-content-md-center" v-show="!in_basket_buttom">
                    <div class="col-2">
                        <button class="btn btn-outline-primary btn-sm" @click="minus_one">-</button>
                    </div>
                    <div class="col-2">
                        <h4>[[ number ]]</h4>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-primary btn-sm" @click="plus_one">+</button>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <p>[[ item.description ]]</p>
        </div>
    </div>
</template>


<template id="basket-template">
    <div style="box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.095); background-color: #fff;">
        <div class="row">
            <div class="col">
                <form action="/make_order" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <button class="btn btn-success" :disabled="all_sum === 0" @click="click_on_buy_all" :value="data" name="make_order" id="make_order">Buy: [[ all_sum ]]$</button>
                </form>
            </div>
            <div class="col">
                <button class="btn btn-outline-danger">Delete cart</button>
            </div>            
        </div>


        <item-in-basket v-for="item in items_in_basket" v-bind:item="item"></item-in-basket>
     
    </div>
</template>

    

<template id="item-in-basket-template">
    <div v-if="item != 'a'">
        <div class="row pt-5 justify-content-center">            
            <div class="col"><h6>Name:[[ item.name ]]</h6></div>
            <div class="col"><h6>Cost:[[ item.cost ]]$x[[ item.number ]]</h6></div>
        </div>
        <div class="row justify-content-center">
            <h6>Sum:[[ item.cost_multiply_number ]]$</h6>
        </div>               
    </div>    
</template>


<template id="my-orders-template">
    <div class="col-6 pt-2">
        <div class="row">
            <div class="col-4">
                <img :src="url" width="100" height="111">
            </div>
            <div class="col-8">
                <div class="row">
                    <h5>Name: [[ order[2] ]]</h5>
                </div>
                <div class="row">
                    <h5>Number: [[ order[0] ]]</h5>
                </div>
            </div>
        </div>
    </div>
 </template>

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="{{ static('js/shop.js') }}"></script>


{% endblock %}
