{% extends 'base.html' %}

{% block title %}
    login
{% endblock %}



{% block content %}
<div class="container" id="loginpage" style="font-size: 25px">
    <div class="row pt-5 d-flex justify-content-center">       
        <form action="/login" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
            <div class="row pt-5 justify-content-center">
                    <h5 style="font-size: 40px">Вход</h5>
            </div>

            <div class="row pt-3 justify-content-center">
                <input class="form-control-lg" id="login" name="login" type="text" value="" autofocus>
            </div>

            <div class="row pt-2 justify-content-center">
                <input class="form-control-lg" id="password" name="password" type="password" value="">
            </div>

            <div class="row pt-3 justify-content-end">
                    <a href="##" style="font-size: 15px" v-on:click="show_password = true">Не помню пароль :(</a>
            </div>

            <div class="row pt-2 justify-content-center" v-show="show_password">
                <h6>Ваш логин: admin</h6>
            </div>

            <div class="row pt-2 justify-content-center" v-if="show_password">
                <h6>Ваш пароль: admin</h6>
            </div>

            <div class="row pt-3 d-flex justify-content-center">
                <input type="submit" value="Login" class="btn btn-success btn-sm btn-block" style="font-size: 20px">
            </div>
        </form>
    </div>

    
    <br><br><br><br><br>
    <div class="row pt-5 justify-content-center">
        <h1>{{ exception }}</h1>    
        <h4>{{ last_visit }}</h4>
    </div>
</div>

<script src="{{ static('js/loginpage.js') }}"></script>

{% endblock %}