{% extends 'base.html' %}

{% block title %}
    metronome
{% endblock %}

{% block content %}

<head>
    <link href="{{ static('css/metronome.css') }}" rel="stylesheet">
</head>
    
<div class="container-fluid" id="metronome">
    <div class="row justify-content-center">
        <div class="col-5 m-4">
            <div class="row">
                <div class="col"><h3>Metronome</h3></div>
            </div>

            <metronome :metronome-work="metronome_work"></metronome>
        </div>


        <div class="col-5 m-4">
            <div class="row">
                <div class="col"><h3>Timer</h3></div>
            </div>
            
            <metronome :metronome-work="metronome_work"></metronome>
        </div>
    </div>
    <div class="row pt-3 justify-content-center">
        <div class="col-5 m-4">super content</div>
        <div class="col-5 m-4">super content</div>
    </div>
</div>


<template id="metronome_template">
    <div style="box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.095); background-color: #fff;">
        <div class="row pt-4 m-4 align-items-center">
            <div class="col-6">
                <h1>[[  beats_per_minute ]]<small style="font-size: 14px; color: rgb(151, 144, 144)">BPM</small></h1>
            </div>
            <div class="col-6">
                <button class="btn btn-primary float-right" v-if="!metronomeWork" @click="start_metronome">Play</button>
                <button class="btn btn-danger float-right" v-if="metronomeWork" @click="metronomeWork = false">Stop</button>                         
            </div>
        </div>
        <div class="row pt-3 m-4 py-4">
            <div class="col">
                <input class="form-control" type="range" max="218" min="20" v-model="beats_per_minute">
            </div>                    
        </div>
    </div>
</template>


<script src="{{ static('js/metronome.js') }}"></script>


{% endblock %}
